# Configuration Pinecone
PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_ENVIRONMENT=your_pinecone_index_name_here

# Configuration Redis Upstash
REDIS_URL=rediss://your-upstash-redis-url:port
CELERY_BROKER_URL=rediss://your-upstash-redis-url:port
CELERY_BACKEND_URL=rediss://your-upstash-redis-url:port

# Configuration Logging
LOG_FORMAT=json

# Configuration Production (optionnel)
ENVIRONMENT=production
